VITE_SUPABASE_URL=your_url_here
VITE_SUPABASE_PUBLISHABLE_KEY=your_key_here
VITE_SUPABASE_PROJECT_ID=your_project_id
SUPABASE_URL=your_url_here
SUPABASE_PUBLISHABLE_KEY=your_key_here
VITE_WEB3FORMS_KEY=your_web3forms_key
VITE_WHATSAPP_NUMBER=919310209227
VITE_COMPANY_PHONE=9810325525
VITE_COMPANY_EMAIL=shubham03503@gmail.com
